<!DOCTYPE html>
<html>

   <head>
      <title>request-header-parser-microservice</title>
   </head>

   <body>
      <div class="container">
         <h3>request-header-parser-microservice</h3>
         <p>
           Project to complete Free Code Camp: <a href="https://www.freecodecamp.org/challenges/request-header-parser-microservice">https://www.freecodecamp.org/challenges/request-header-parser-microservice</a> 
           <br>
           <a href="/api/whoami">This link</a> will bring you to a page that provides the browser ip address, language, and operating system. 
        </p>
      </div>
   </body>

</html>
